body{
    margin:0;
    height:100vh;
}

.body{
    height:100%
}

.container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}

.header{
    display:flex;
    width:auto;
    height:20%;
    background-color: cadetblue;
}

.navigation{
    display:flex;
    flex-direction: row;
    height:20%;
    background-color: pink;
}

.Facts{
    width:25%;
    height:50%;
    margin-left: 17%;
    margin-right: 5%;
    
}

.Usage{
    width:25%;
    height:50%;
    margin-left: 5%;
    margin-right: 5%
}

.About_us{
    width:25%;
    height:50%;
    margin-left: 10%;
    margin-right:17%;
}

.bildruta{
    display:flex;
    flex-direction: row;
    height: 35%;
    background-color: cornflowerblue;
}

.textruta{
    display:flex;
    flex-direction: row;
    height: 20%;
    background-color: purple;
}

.copyright{
    display:flex;
    flex-direction: row;
    height: 5%;
    background-color:gray;
}

.menu-img{
    margin-left:20px;
    margin-right: 10px;
}