body{
    margin:0;
    height:100vh;
}

.body{
    height:100%
}

.container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}

.header{
    display:flex;
    width:auto;
    height:20%;
    background-color: gray;
    justify-content:center;

}

nav {
    display:flex;
    flex-direction: row;
    height:20%;
    background-color:white;
    justify-content: space-around;
}

.bildruta{
    display:flex;
    flex-direction: row;
    height: 35%;
    background-color: white;
    justify-content: space-around;
}

.textruta{
    display:flex;
    flex-direction: row;
    height: 20%;
    background-color:white;
}

.copyright{
    display:flex;
    flex-direction: row;
    height: 5%;
    background-color:gray;
    justify-content: space-around;

}

.bildruta2{
    display:flex;
    flex-direction: row;
    height: 55%;
    background-color: white;
    justify-content: center;
    
}

.bildruta3{
    display:flex;
    flex-direction: row;
    height: 55%;
    background-color: white;
}

